* {
    font-family: HeliosCondC, sans-serif;
    padding: 0;
    margin: 0;
}
/* COMMON UTILITES*/
.bold {
    font-weight: bold;
}
.normal {
    font-weight: normal;
}
.light {
    font-weight: 100;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.wrapper {
    min-width: 1300px;
}
.clear {
    clear: both;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.inline-block {
    display: inline-block;
}
.arrow {
    cursor: pointer;
    position: relative;
}
.arrow.left {
    background: url('../img/left.png') no-repeat center center;
}
.arrow.left:hover {
    background-image: url('../img/lefth.png');
}
.arrow.right {
    background: url('../img/right.png') no-repeat center center;
}
.arrow.right:hover {
    background-image: url('../img/righth.png');
}
.tabs div, .tabs div.active {
    transition: 0.2s;
}
/* header */
#header {
    margin-top: 20px;
}
#header .header-line {
    font-size: 20px;
}
#header .email {
    color: #e84042;
    font-size: 30px;
    text-decoration: underline;
}
#header .email-icon {
    position: relative;
    top: 21px;
    margin-left: 15px;
    margin-right: 20px;
}
#header .mail-text {
    margin-left: 35px;
}
#header .number {
    color: #000;
    text-decoration: none;
}
@media (max-width: 1125px) {
    /*#header .header-line {*/
        /*display: block;*/
        /*float: none;*/
        /*clear: both;*/
        /*text-align: center;*/
    /*}*/
    #header .logo {
        /*display: block;*/
        float: none;
        text-align: center;
    }
    #header .container {
        text-align: center;
        margin-bottom: 20px;
    }
}

/* main block */

#main {
    background-image: url('../img/mainbg.jpg');
    background-size: cover;
    min-height: 624px;
}
#main .container {
    position: relative;
}
#main h1 {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;

}
#main h2 {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    width: 684px;
    margin: 15px auto 0;
}
#main h2 span {
    font-size: 38px;
    color: #e84042;
    font-weight: bold;
    text-transform: uppercase;
}
#main form {
    width: 610px;
    border: 1px solid #ffb337;
    padding: 30px 30px 10px;
    background-color: rgba(255,255,255,0.8);
    margin: 15px auto 0;
}
#main form p {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
#main form textarea {
    margin-bottom: 15px;
}
#main form input, #main form textarea{
    border: 1px solid #bababa;
    font-size: 16px;
    padding: 17px;
}
#main form input[type=file]{
    display: none;
}
#main form .row-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;

}#main form .row-3:nth-child(1){
     overflow: hidden;
     border-right: 1px solid lightgray;
 }
#main form textarea {
    margin-top: 15px;
    width: calc(100% - 36px);
    height: 70px;
    resize: none;
}
#mainGirl {
    top: 50px;
    position: absolute;
}
#main label, #main button[type=submit] {
    padding: 10px;
    background-color: #ffb337;
    border: 0;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}
#main label:hover, #main button[type=submit]:hover {
    background-color: #f09c3c;
}
#main button[type=submit] {
    font-size: 20px;
}
#main label div {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 15px;
    margin-top: 7px;
    float: left;
    border-right: 1px solid white;
}
@media (max-width: 1125px) {
    #mainGirl {
        display: none;
    }
    #main form {
        max-width: 610px;
    }
}
/* new supplier */
#newSupplier {
    background-image: url('../img/newsupplier.jpg');
    background-size: cover;
    padding: 50px 0;
}
#newSupplier h1 {
    font-weight: bold;
    font-size: 40px;
    color: #00284f;
    text-align: center;
}
#newSupplier h2 {
    color: #e84042;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}
#newSupplier p {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#newSupplier .row-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
#newSupplier .row-3 div {
    background-size: contain;
    height: 339px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0 60px;
}
#newSupplier .row-3 div span {
    color: #fff;
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 240px;
}
#newSupplier #ns1 {
    background-image: url('../img/1nsblock.png');
}
#newSupplier #ns2 {
    background-image: url('../img/2nsblock.png');
}
#newSupplier #ns3 {
    background-image: url('../img/3nsblock.png');
}
/* own production block */
#ownProduct {
    padding: 50px 0;
    background-image: url('../img/ownproductbg.jpg');
    background-size: cover;
}
#ownProduct h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #e84042;
    margin-bottom: 20px;
}
#ownProduct h2 {
    font-size: 36px;
    font-weight: bold;
    color: #00284f;
    text-align: center;
    margin-bottom: 20px;
}
#ownProduct .row-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 58px;
    margin-top: 40px;
}
#ownProduct .row-4 div {
    height: 365px;
    border: 1px solid #00284f;
}
#ownProduct .row-4.left-img img {
    position: relative;
    top: -15px;
    left: -15px;
}
#ownProduct .row-4.right-img img {
    position: relative;
    top: -15px;
    left: 15px;
}
#ownProduct p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}
#ownProduct h4 {
    padding: 0 10px;
    font-size: 24px;
}
/* pluses */
#pluses {
    background: url('../img/plusesline.jpg') repeat-x;
    background-position: center center;
    margin-bottom: 30px;
}
#pluses .row-3 {
    text-align: center;
}
/*opora slider*/
#oporaSlider {
    padding: 50px 0;
    background-image: url('../img/oporasliderbg.jpg');
    background-size: cover;
}
#oporaSlider h1 {
    font-size: 48px;
    text-align: center;
    color: #00284f;
    margin-bottom:40px;
}
#oporaSlider h2 {
    font-size: 36px;
    font-weight: normal;
    color: #00284f;
    text-align: center;
    margin-bottom: 40px;
}

#oporaSlider .tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    border-bottom: 1px solid #00284f;
}
#oporaSlider .tabs div {
    color: #00284f;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    background-color: #c1d9eb;
    cursor: pointer;
}
#oporaSlider .tabs div p{
    display:table-cell;
    vertical-align: middle;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    width: 298px;
}
#oporaSlider .tabs div.active {
    color: #fff;
    background-color: #00284f;
}
#oporaSlider .slides {
    background-color: #fff;
    height: 598px;
    border: 1px solid #00284f;
}
#oporaSlider .slide img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
#oporaSlider .slider-content {
    padding: 30px;
}
#oporaSlider .slider-windows {
    border: 1px solid #c1d9eb;
}
#oporaSlider .arrow {
    height: 58px;
    width: 58px;
    border: 1px solid #00284f;
    top: 270px;
    background-color: #eef5fa;
}
#oporaSlider .arrow:hover {
    background-color: #00284f;
}
#oporaSlider .arrow.left {
    left: -31px;
}
#oporaSlider .arrow.right {
    left: 31px;
}
/*scheme slider*/
#schemeSlider {
    background-image: url('../img/schemeslider/schemeslider.jpg');
    padding-top: 50px;
    padding-bottom: 100px;
}
#schemeSlider h1 {
    text-align: center;
    color: #fff;
    font-size: 48px;
    margin-bottom: 30px;
}
#schemeSlider h2 {
    text-align: center;
    color: #fff;
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 30px;
}
#schemeSlider .slides {
     background-color: #fff;
     height: 598px;
     border: 1px solid #00284f;
    text-align: center;
}
#schemeSlider .slide {
    /*line-height: 100%;*/
}
#schemeSlider .slide img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    /*left: 50%;*/
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
#schemeSlider .slider-content {
    padding: 30px;
}
#schemeSlider .slider-windows {
    border: 1px solid #c1d9eb;
}
#schemeSlider .arrow {
    height: 58px;
    width: 58px;
    border: 1px solid #c1d9eb;
    top: 270px;
    background-color: #00284f;
}
#schemeSlider .arrow:hover {
    background-color: #c1d9eb;
}
#schemeSlider .arrow.left {
    left: -31px;
    background-image: url('../img/lefth.png');
}
#schemeSlider .arrow.right {
    left: 31px;
    background-image: url('../img/righth.png');
}
#schemeSlider .arrow.left:hover {
    background-image: url('../img/left.png');
}
#schemeSlider .arrow.right:hover {
    background-image: url('../img/right.png');
}
/* zayavka block */

#zayavka {
    padding: 50px 0;
    height: 582px;
}
#zayavka .container {
    position: relative;
}
#zayavka h1 {
    font-size: 48px;
    text-transform: uppercase;
    color: #00284f;
    margin-bottom: 50px;
}
#zayavka h2 {
    padding: 10px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: normal;
    background-color: #00284f;
    color: #fff;
    width: 1000px;
}
#zayavka h3 {
    font-size: 18px;
    margin-bottom: 15px;
}
#girl {
    position: absolute;
    top: -132px;
    left: 707px;
}
#zayavka form {
    width: 998px;
    padding: 30px;
    background-color: #eef5fa;
    border: 1px solid #00284f;
}
#zayavka .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 670px;
    grid-gap: 15px;
}
#zayavka .col input, #zayavka .col textarea{
    display: block;
    width: calc(100% - 36px);
    border: 1px solid #c1d9eb;
    padding: 17px;
    font-size: 16px;
    font-weight: 100;
    margin-bottom:15px;
}
#zayavka .col textarea {
    resize: none;
    height: calc(100% - 51px);
}
#zayavka input[type=file] {
    display: none;
}
#zayavka label div{
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 7px;
    float: left;
}
#zayavka label {
    padding: 5px;
    background-color: #00284f;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}
#zayavka .col.row-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}
#zayavka button[type=submit] {
    width: 100%;
    height: 100%;
    background-color: #ffb337;
    color: #000;
    font-size: 20px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
}

/* algorytm block */
#algo {
    background-image: url('../img/algobg.jpg');
    background-size: cover;
    text-align: center;
    padding: 50px 0;
}
#algo .container {
    position: relative;
}
#algo .algoimg {

    position: absolute;
    left: 181px;
}
#algo h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    color: #00284f;
    margin-bottom: 20px;
}
#algo h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: normal;
    color: #00284f;
    margin-bottom: 20px;
}
#algo .part {
    width: 400px;
    /*position: absolute;*/
    /*top: 0;*/
}
#algo .part .part-number {
    font-weight: 100;
    font-size: 48px;
    color: #c1d9eb;
    position: relative;
    top: 12px;
}
#algo .part .part-time img{
    position: relative;
    top: 2px;
}
#algo .part h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #00284f;
}
#algo .part .part-text {
    font-size: 18px;
    color: #00284f;
}
#algo .part .part-time {
    font-size: 16px;
    font-weight: bold;
    color: #00284f;
    padding: 12px;
    text-transform: uppercase;
}
#algo .left-items {
    float: left;
    margin-top: 40px;
}
#algo .right-items {
    float: right;
    margin-top: 40px;
}

/* left-prticles */
#algo .left-part:nth-child(2) {
    margin-top: 7px;
}
#algo .left-part:nth-child(3) {
    margin-top: 17px;
}
#algo .part-time img {
    margin-right: 15px;
}
#algo .left-part .part-text, #algo .left-part h3 {
    text-align: left;
}
#algo .left-part .part-time{
    background: linear-gradient(to right, #c1d9eb, rgba(0,0,0,0));
    text-align: left;
}
#algo .left-part .part-number {
    text-align: left;
}
/*right particles*/
#algo .right-part {

}
#algo .right-part .part-text, #algo .right-part h3 {
    text-align: right;
}
#algo .right-part .part-time img {
    margin-left: 15px;
}
#algo .right-part .part-time{
    background: linear-gradient(to left, #c1d9eb, rgba(0,0,0,0));
    text-align: right;
}
#algo .right-part .part-number {
    text-align: right;
}
/*middle particle*/
#algo .middle-part {
    clear: both;
    margin: 800px auto 0;
}
#algo .middle-part .part-text, #algo .middle-part h3 {
    text-align: center;
}
#algo .part-time img {
    margin-left: 15px;
}
#algo .middle-part .part-time{
    background: linear-gradient(to right, rgba(0,0,0,0), #c1d9eb, rgba(0,0,0,0));
    text-align: center;
}
#algo .middle-part .part-number {
    text-align: left;
}
/* quality control block */
#qualityControl {
    padding: 50px 0;
    background-image: url('../img/qualitybg.jpg');
    background-repeat: no-repeat;
    background-position: center 510px;
    background-size: contain ;
}
#qualityControl h1 {
    font-size: 48px;
    text-align: center;
    color: #e84042;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#qualityControl h2 {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #00284f;
    margin-bottom: 30px;
}
#qualityControl .shadow {
    height: 187px;

    position: relative;
    top: 430px;
    z-index: -1;
}
#qualityControl .grid-2-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
}
#qualityControl .grid-2-2 div p {
    font-size: 24px;
    max-width: 250px;
    padding-left: 20px;
}
#qualityControl .red-block {
    background-color: #e84042;
    text-align: center;
    height: 270px;
    width: 270px;
}
#qualityControl .red-block h3 {
    font-size: 24px;
}
#qualityControl .grid-2-2 .red-block p{
    font-size: 16px;

}
#qualityControl .red-block h3, #qualityControl .red-block p{
    color: #fff;
}
#qualityControl .red-block:nth-child(1) img {
    margin-top: 50px;
}
#qualityControl .red-block:nth-child(4) img {
    margin-top: 50px;
}
#qualityControl .red-block:nth-child(3) img {
    margin-top: 30px;
}
#qualityControl .line {
    width: 70px;
    height: 2px;
    background-color: #fff;
    margin: 20px auto;
}
#qualityControl .f-right img {
    box-shadow: 0px 0px 68px -19px rgba(0,0,0,0.6  );
}
#qualityControl fieldset {
    border: 1px solid #e84042;
    padding: 40px;
}
#qualityControl legend {
    margin-left: 50px;
    padding: 0 15px;
}
#qualityControl p {
    margin-bottom: 15px;
    font-size: 22px;
}
#qualityControl p img {
    margin-right: 15px;
    position: relative;
    top: 0px;
}
/*delivery block*/
#delivery {
    background-image: url('../img/deliverybg.jpg');
    background-size: cover;
    padding: 50px 0;
    overflow: hidden;
}
#delivery h1 {
    color: #fff;
    font-weight: normal;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
#delivery h1 span {
    font-size: 48px;
    font-weight: bold;
}
#delivery .container {

    position: relative;
}
#delivery .map {
    position: absolute;
    top: -230px;
    left: -100px;
    z-index: 0;
}
#delivery .right-map-text {
    color: #fff;
    z-index: 3;
}
#delivery .right-map-text h3 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 50px;
    z-index: 3;
    position: relative;
}
#delivery .plus {
    height: 100px;
    background-color: rgba(0, 40, 79, 0.8);
    clear: both;
    margin-bottom: 50px;
    width: 400px;
}
#delivery .plus p {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    top: 20px;

}
#delivery .plus img {
    float: left;
    position: relative;
    top: -20px;
    left: -15px;
}
#delivery .row-2 {
    display: grid;
    grid-template-columns: 5fr 6fr;
    margin-top: 15px;
}
#delivery .row-2 div:nth-child(1) {
    background: linear-gradient(to left, rgba(0, 40, 79, 0.8), rgba(0,0,0,0));
    padding-top: 40px;
}
#delivery .row-2 div:nth-child(1) p{
    color: #fff;
    font-size: 24px;
    margin-bottom: 40px;
}
#delivery .row-2 div:nth-child(2) {
    padding: 30px;
}
#delivery .row-2 div:nth-child(2) p{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 35px;
}

/*reason*/
#reason {
    padding: 50px 0;
    background-image: url('../img/reasonbg.jpg');
    background-size: cover;
    display: none;
}
#reason h1{
    font-size: 48px;
    text-align: center;
    color: #00284f;
    text-transform: uppercase;
    margin-bottom: 50px;
}
#reason .row-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.reason {
    display: inline-block;
    width: 370px;
    height: 400px;
    margin-bottom:30px;
}
.reason .number {
    font-weight: 100;
    color: #fff;
    font-size: 100px;
    text-align: center;
    position: relative;
    top: -25px;
}
.reason .text {
    text-align: center;
    margin-top: 50px;
}
.reason .text h4 {
    font-size: 22px;
    color: #00284f;
}
.reason .text p {
    font-size: 18px;
    color: #00284f;
}
#reason .center-2 {
    text-align: center;
}

/* our projects block */
#ourProjects {
    padding: 50px 0;
}
#ourProjects h1 {
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #00284f;
    margin-bottom: 50px;
}

#ourProjects .tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
    border-bottom: 1px solid #00284f;
}
#ourProjects .tabs div {
    color: #00284f;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    background-color: #c1d9eb;
    cursor: pointer;
}
#ourProjects .tabs div p{
    display:table-cell;
    vertical-align: middle;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    width: 596px;
}
#ourProjects .tabs div.active {
    color: #fff;
    background-color: #00284f;
}
#ourProjects .slides {
    background-color: #fff;
    height: 598px;
    border: 1px solid #00284f;
}
#ourProjects .slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/**/
#ourProjects .slide:nth-child(1) > div:nth-child(1) {
    background-image: url('../img/projectslider/slidebg1.jpg');
    background-size: cover;
}
#ourProjects .slide:nth-child(2) > div:nth-child(1) {
    background-image: url('../img/projectslider/slidebg2.jpg');
    background-size: cover;
}
#ourProjects .slide .img-block {
    padding: 20px;
}

#ourProjects .slide .img-block h2 {
    font-size: 30px;
    font-weight: normal;
    margin-left: 70px;
    margin-top: 70px;
    color: #fff;
    text-transform: uppercase;
}
#ourProjects .slide .img-block h2 span{
    font-weight: bold;
}
#ourProjects .slide .info-block {
    padding: 20px;
}
#ourProjects .slide .info {
    border-bottom: 1px solid #c1d9eb;
    padding-bottom: 20px;
}
#ourProjects .slide .info .logo {
    margin-right: 20px;
}
#ourProjects .slide .info h3 {
    font-size: 24px;
    text-transform: uppercase;
    color: #00284f;
}
#ourProjects .slide .info p {
    font-size: 16px;
    color: #00284f;
    margin-top: 10px;
}
#ourProjects .slide .tasks h3 {
    text-transform: uppercase;
    font-size: 16px;
    color: #00284f;
    margin-top: 25px;
}
#ourProjects .slide .tasks p {
    font-size: 16px;
    color: #00284f;
    margin-top: 5px;
}
#ourProjects .slide .tasks p img {
    margin-right: 10px;
    position: relative;
    top: 2px;
}
#ourProjects .slide .solves {
    border-bottom: 1px solid #c1d9eb;
    padding-bottom: 20px;
}
#ourProjects .slide .solves h3 {
    text-transform: uppercase;
    font-size: 16px;
    color: #e84042;
    margin-top: 25px;
}
#ourProjects .slide .solves p {
    font-size: 16px;
    color: #00284f;
    margin-top: 5px;
    font-weight: bold;
}
#ourProjects .slide .solves p img {
    margin-right: 10px;
    position: relative;
    top: 2px;
}
#ourProjects .slide .features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}
#ourProjects .slide .feature{
    height: 115px;
    background-color: #e84042;
    color: #fff;
    /*padding-top: 10px;*/
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
}
#ourProjects .slide .feature div {
    display: table-cell;
    vertical-align: middle;
    height: 102px;
    width: 125px;
    text-align: center;
}
#ourProjects .slide .feature h3 {
    font-size: 24px;
    width: 100%;
}
#ourProjects .slide .feature p {
    font-size: 16px;
    font-weight: bold;
}
/**/
#ourProjects .slider-content {
    padding: 30px;
}
#ourProjects .slider-windows {
    border: 1px solid #b3bbbf;
}
#ourProjects .arrow {
    height: 58px;
    width: 58px;
    border: 1px solid #00284f;
    top: 270px;
    background-color: #fff;
}
#ourProjects .arrow:hover {
    background-color: #00284f;
}
#ourProjects .arrow.left {
    left: -31px;
}
#ourProjects .arrow.right {
    left: 31px;
}
/* questions block */
#questions {
    padding: 50px 0;
    background-image: url('../img/questionsbg.jpg');
    background-size: cover;
}
#questions h1 {
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #00284f;
    margin-bottom: 50px;
}

.question {
    background-color: #fff;
    margin-bottom: 15px;
}
.question .number {
    font-size: 100px;
    color: #dfecf5;
    display: inline-block;
    position: relative;
    left: -3px;
    margin-right: 15px;
}
.question .text {
    width: 268px;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #00284f;
    position: relative;
    top: -12px;
}
.question .answer {
    display: inline-block;
    font-size: 20px;
    color: #00284f;
    padding-left: 15px;
    border-left: 1px solid #00284f;
    position: relative;
    top: -16px;
}

/* about block */
#about {
    padding: 50px 0;
    background-image: url('../img/aboutbg.jpg');
    background-size: cover;
}
#about h1 {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}
#about h1 span{
    font-size: 72px;
}
#about  p.text {
    font-size: 30px;
    text-align: center;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 20px;
}
#about .row-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
#about .info {
    background-color: rgba(255,255,255,.1);
    padding: 40px 30px;
}
#about .info .separator {
    background: linear-gradient(to right, #fff, rgba(0,0,0,0));
    height: 1px;
    margin: 15px 0;
}
#about .info h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    margin-top: 20px;
}
#about .info p {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    text-align: left;
    line-height: 1.5;
}
#about .info h3 img {
    margin-right: 20px;
    position: relative;
    top: 3px;
}
#about .info h3:first-child {
    margin-top: 0;
}
#about .quote fieldset{
    border: 1px solid white;
    padding: 30px;
    clear: none;
    padding-bottom: 110px;
}
#about .quote legend {
    margin-left: -33px;
    position: relative;
    top: 30px;
    padding-right: 5px;
}
#about .quote h3 {
    font-size: 28px;
    color: #fff;
    line-height: 40px;
}
#about .quote .director {
    margin-top: 50px;
}
#about .director h4 {
    color: #fff;
    font-size: 18px;
}
#about .director img {
    margin-top: -265px;
    margin-right: 20px;
}
#about h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin-top: 70px;
    margin-bottom: 70px;
}
#about .historyline img {
    margin-bottom: 20px;
}
#about .historyline p{
    font-size: 18px;
    color: #fff;
    display: inline-block;
    float: left;
    height: 147px;
}
#about .historyline p:nth-child(2){
    margin-left: 85px;
}
#about .historyline p:nth-child(3){
    margin-left: 40px;
}
#about .historyline p:nth-child(4){
    margin-left: 68px;
}
#about .historyline p:nth-child(5){
    margin-left: 23px;
}
#about .historyline p:nth-child(6){
    margin-left: 27px;
}

/* order details */
#orderDetails {
    padding: 50px 0;
}
#orderDetails h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    color: #00284f;
    margin-bottom: 50px;
}
#orderDetails p.text {
    text-align: center;
    font-size: 30px;
    color: #00284f;
    line-height: 48px;
    margin-bottom: 50px;
}
#orderDetails p.text span {
    font-weight: bold;
    color: #e84042;

}
#orderDetails .row-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#orderDetails .row-4  p {
    font-size: 24px;
    font-weight: bold;
    color: #00284f;
}
/* contacts block */


#contacts .contact-wrapper {
    background-color: #e84042;
    padding: 35px 0;
}
#contacts .contacts h1 {
    font-size: 48px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
}
#contacts .contacts a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    position: relative;
    top: -13px;
    left: 5px
}
#contacts .contacts div div {
    display: inline-block;
    margin-top: -5px;
    margin-left: 50px;
}
#contacts .contacts div.icon {
    display: inline-block;
    padding: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 20px;
    background: no-repeat center center;
}

#contacts .contacts > div {
    float: right;
}
#contacts .address a {
    text-decoration: none;
    font-weight: normal;
    position: relative;
    top: 0px;
    left: 5px
}
.bottom-form-wrapper {
    background-color: #00284f;
    padding: 50px 0;
}
.bottom-form .row {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-gap: 30px;
}
.bottom-form .row h1 {
    font-size: 48px;
    text-transform: uppercase;
    color: #fff;
}
.bottom-form .row h2 {
    font-size: 27px;
    font-weight: normal;
    color: #fff;
    margin-bottom: 15px;
}
.bottom-form .row h3 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
}
.bottom-form .row h1 span {
    color: #ffb337;
}
.bottom-form .row p {
    color: #fff;
}
.bottom-form form {
}
.bottom-form form .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 670px;
    grid-gap: 15px;
}
.bottom-form .col input, .bottom-form .col textarea{
    display: block;
    width: calc(100% - 36px);
    border: 1px solid #c1d9eb;
    padding: 17px;
    font-size: 16px;
    font-weight: 100;
    margin-bottom:15px;
}
.bottom-form .col textarea {
    resize: none;
    height: calc(100% - 51px);
}
.bottom-form input[type=file] {
    display: none;
}
.bottom-form label div{
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 7px;
    float: left;
}
.bottom-form label {
    padding: 5px;
    background-color: #00284f;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    border: 1px solid #ffb337;
}
.bottom-form .col.row-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}
.bottom-form button[type=submit] {
    width: 100%;
    height: 100%;
    background-color: #ffb337;
    color: #000;
    font-size: 20px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
}

/* footer */
#footer {
    padding: 18px 0;
}
#footer .container {
    text-align: center;
}
#footer img {
    float: left;
}
#footer .logo-text {
    display: inline-block;
    margin-left: 15px;
    float: left;
}
#footer .logo-text h1 {
    font-size: 35px;
    font-family: HeliosExtra, sans-serif;
    color: #e84042;
}
#footer .logo-text p {
    font-size: 10px;
    color: #e84042;
}
.allrights {
    display: inline-block;
    font-size: 18px;
    margin-top: 18px;
}
.politic {
    float: right;
    margin-top: 18px;
}
.politic a {
    font-size: 18px;
    color: #e84042;
}

/* slider styles */
.arrow {
    z-index: 5;
}
.slider-content {
    display: none;
    position: relative;
    margin-bottom: -58px;
}
.slider-content.active {
    display: block;
}
.slides {
    overflow: hidden;
    position: relative;
    width: 100%;
    top: -58px;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    /*transition: 0.5s;*/
}
