* {
    font-family: HeliosCondC, sans-serif;
    padding: 0;
    margin: 0;
}
/* COMMON UTILITES*/
.bold {
    font-weight: bold;
}
.normal {
    font-weight: normal;
}
.light {
    font-weight: 100;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.clear {
    clear: both;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.inline-block {
    display: inline-block;
}
.arrow {
    cursor: pointer;
    position: relative;
}
.arrow.left {
    background: url('../img/left.png') no-repeat center center;
}
.arrow.left:hover {
    background-image: url('../img/lefth.png');
}
.arrow.right {
    background: url('../img/right.png') no-repeat center center;
}
.arrow.right:hover {
    background-image: url('../img/righth.png');
}
/* header */
#header {
    margin-top: 20px;
}
#header .header-line {
    font-size: 20px;
}
#header .email {
    color: #e84042;
    font-size: 30px;
    text-decoration: underline;
}
#header .email-icon {
    position: relative;
    top: 21px;
    margin-left: 15px;
    margin-right: 20px;
}
#header .mail-text {
    margin-left: 35px;
}
@media (max-width: 1125px) {
    #header .header-line {
        display: block;
        float: none;
        clear: both;
        text-align: center;
    }
    #header .logo {
        display: block;
        float: none;
        text-align: center;
    }
}

/* main block */

#main {
    background-image: url('../img/mainbg.jpg');
    background-size: cover;
    min-height: 624px;
}
#main .container {
    position: relative;
}
#main h1 {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;

}
#main h2 {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    width: 684px;
    margin: 15px auto 0;
}
#main h2 span {
    font-size: 38px;
    color: #e84042;
    font-weight: bold;
    text-transform: uppercase;
}
#main form {
    width: 610px;
    border: 1px solid #ffb337;
    padding: 30px 30px 10px;
    background-color: rgba(255,255,255,0.8);
    margin: 15px auto 0;
}
#main form p {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
#main form textarea {
    margin-bottom: 15px;
}
#main form input, #main form textarea{
    border: 1px solid #bababa;
    font-size: 16px;
    padding: 17px;
}
#main form input[type=file]{
    display: none;
}
#main form .row-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
#main form textarea {
    margin-top: 15px;
    width: calc(100% - 36px);
    height: 70px;
    resize: none;
}
#mainGirl {
    top: 50px;
    position: absolute;
}
#main label, #main button[type=submit] {
    padding: 10px;
    background-color: #ffb337;
    border: 0;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}
#main label:hover, #main button[type=submit]:hover {
    background-color: #f09c3c;
}
#main button[type=submit] {
    font-size: 20px;
}
#main label div {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 15px;
    margin-top: 7px;
    float: left;
    border-right: 1px solid white;
}
@media (max-width: 1125px) {
    #mainGirl {
        display: none;
    }
    #main form {
        max-width: 610px;
    }
}
/* new supplier */
#newSupplier {
    background-image: url('../img/newsupplier.jpg');
    background-size: cover;
    padding: 50px 0;
}
#newSupplier h1 {
    font-weight: bold;
    font-size: 40px;
    color: #00284f;
    text-align: center;
}
#newSupplier h2 {
    color: #e84042;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}
#newSupplier p {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#newSupplier .row-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
#newSupplier .row-3 div {
    background-size: contain;
    height: 339px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0 60px;
}
#newSupplier .row-3 div span {
    color: #fff;
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 240px;
}
#newSupplier #ns1 {
    background-image: url('../img/1nsblock.png');
}
#newSupplier #ns2 {
    background-image: url('../img/2nsblock.png');
}
#newSupplier #ns3 {
    background-image: url('../img/3nsblock.png');
}
/* own production block */
#ownProduct {
    padding: 50px 0;
    background-image: url('../img/ownproductbg.jpg');
    background-size: cover;
}
#ownProduct h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #e84042;
    margin-bottom: 20px;
}
#ownProduct h2 {
    font-size: 36px;
    font-weight: bold;
    color: #00284f;
    text-align: center;
    margin-bottom: 20px;
}
#ownProduct .row-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 58px;
    margin-top: 40px;
}
#ownProduct .row-4 div {
    height: 365px;
    border: 1px solid #00284f;
}
#ownProduct .row-4.left-img img {
    position: relative;
    top: -15px;
    left: -15px;
}
#ownProduct .row-4.right-img img {
    position: relative;
    top: -15px;
    left: 15px;
}
#ownProduct p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}
#ownProduct h4 {
    padding: 0 10px;
    font-size: 24px;
}
/* pluses */
#pluses {
    background: url('../img/plusesline.jpg') repeat-x;
    background-position: center center;
    margin-bottom: 30px;
}
#pluses .row-3 {
    text-align: center;
}
/*opora slider*/
#oporaSlider {
    padding: 50px 0;
    background-image: url('../img/oporasliderbg.jpg');
    background-size: cover;
}
#oporaSlider h1 {
    font-size: 48px;
    text-align: center;
    color: #00284f;
    margin-bottom:40px;
}
#oporaSlider h2 {
    font-size: 36px;
    font-weight: normal;
    color: #00284f;
    text-align: center;
    margin-bottom: 40px;
}

#oporaSlider .tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    border-bottom: 1px solid #00284f;
}
#oporaSlider .tabs div {
    color: #00284f;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    background-color: #c1d9eb;
    cursor: pointer;
}
#oporaSlider .tabs div p{
    display:table-cell;
    vertical-align: middle;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    width: 298px;
}
#oporaSlider .tabs div.active {
    color: #fff;
    background-color: #00284f;
}
#oporaSlider .slides {
    background-color: #fff;
    height: 598px;
    border: 1px solid #00284f;
}
#oporaSlider .slider-content {
    padding: 30px;
}
#oporaSlider .slider-windows {
    border: 1px solid #c1d9eb;
}
#oporaSlider .arrow {
    height: 58px;
    width: 58px;
    border: 1px solid #00284f;
    top: 270px;
    background-color: #eef5fa;
}
#oporaSlider .arrow:hover {
    background-color: #00284f;
}
#oporaSlider .arrow.left {
    left: -31px;
}
#oporaSlider .arrow.right {
    left: 31px;
}
/*scheme slider*/
#schemeSlider {
    background-image: url('../img/schemeslider.jpg');
    padding-top: 50px;
    padding-bottom: 100px;
}
#schemeSlider h1 {
    text-align: center;
    color: #fff;
    font-size: 48px;
    margin-bottom: 30px;
}
#schemeSlider h2 {
    text-align: center;
    color: #fff;
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 30px;
}
#schemeSlider .slides {
     background-color: #fff;
     height: 598px;
     border: 1px solid #00284f;
 }
#schemeSlider .slider-content {
    padding: 30px;
}
#schemeSlider .slider-windows {
    border: 1px solid #c1d9eb;
}
#schemeSlider .arrow {
    height: 58px;
    width: 58px;
    border: 1px solid #c1d9eb;
    top: 270px;
    background-color: #00284f;
}
#schemeSlider .arrow:hover {
    background-color: #c1d9eb;
}
#schemeSlider .arrow.left {
    left: -31px;
    background-image: url('../img/lefth.png');
}
#schemeSlider .arrow.right {
    left: 31px;
    background-image: url('../img/righth.png');
}
#schemeSlider .arrow.left:hover {
    background-image: url('../img/left.png');
}
#schemeSlider .arrow.right:hover {
    background-image: url('../img/right.png');
}
/* zayavka block */

#zayavka {
    padding: 50px 0;
    height: 582px;
}
#zayavka .container {
    position: relative;
}
#zayavka h1 {
    font-size: 48px;
    text-transform: uppercase;
    color: #00284f;
    margin-bottom: 50px;
}
#zayavka h2 {
    padding: 10px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: normal;
    background-color: #00284f;
    color: #fff;
    width: 1000px;
}
#zayavka h3 {
    font-size: 18px;
    margin-bottom: 15px;
}
#girl {
    position: absolute;
    top: -132px;
    left: 707px;
}
#zayavka form {
    width: 998px;
    padding: 30px;
    background-color: #eef5fa;
    border: 1px solid #00284f;
}
#zayavka .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 670px;
    grid-gap: 15px;
}
#zayavka .col input, #zayavka .col textarea{
    display: block;
    width: calc(100% - 36px);
    border: 1px solid #c1d9eb;
    padding: 17px;
    font-size: 16px;
    font-weight: 100;
    margin-bottom:15px;
}
#zayavka .col textarea {
    resize: none;
    height: calc(100% - 51px);
}
#zayavka input[type=file] {
    display: none;
}
#zayavka label div{
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 7px;
    float: left;
}
#zayavka label {
    padding: 5px;
    background-color: #00284f;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}
#zayavka .col.row-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}
#zayavka button[type=submit] {
    width: 100%;
    height: 100%;
    background-color: #ffb337;
    color: #000;
    font-size: 20px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
}

/* algorytm block */
#algo {
    background-image: url('../img/algobg.jpg');
    background-size: cover;
    text-align: center;
    padding: 50px 0;
}
#algo .container {
    position: relative;
}
#algo .algoimg {

    position: absolute;
    left: 181px;
}
#algo h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    color: #00284f;
    margin-bottom: 20px;
}
#algo h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: normal;
    color: #00284f;
    margin-bottom: 20px;
}
#algo .part {
    width: 400px;
    /*position: absolute;*/
    /*top: 0;*/
}
#algo .part .part-number {
    font-weight: 100;
    font-size: 48px;
    color: #c1d9eb;
    position: relative;
    top: 12px;
}
#algo .part .part-time img{
    position: relative;
    top: 2px;
}
#algo .part h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #00284f;
}
#algo .part .part-text {
    font-size: 18px;
    color: #00284f;
}
#algo .part .part-time {
    font-size: 16px;
    font-weight: bold;
    color: #00284f;
    padding: 12px;
    text-transform: uppercase;
}
#algo .left-items {
    float: left;
    margin-top: 40px;
}
#algo .right-items {
    float: right;
    margin-top: 40px;
}

/* left-prticles */
#algo .left-part:nth-child(2) {
    margin-top: 7px;
}
#algo .left-part:nth-child(3) {
    margin-top: 17px;
}
#algo .part-time img {
    margin-right: 15px;
}
#algo .left-part .part-text, #algo .left-part h3 {
    text-align: left;
}
#algo .left-part .part-time{
    background: linear-gradient(to right, #c1d9eb, rgba(0,0,0,0));
    text-align: left;
}
#algo .left-part .part-number {
    text-align: left;
}
/*right particles*/
#algo .right-part {

}
#algo .right-part .part-text, #algo .right-part h3 {
    text-align: right;
}
#algo .right-part .part-time img {
    margin-left: 15px;
}
#algo .right-part .part-time{
    background: linear-gradient(to left, #c1d9eb, rgba(0,0,0,0));
    text-align: right;
}
#algo .right-part .part-number {
    text-align: right;
}
/*middle particle*/
#algo .middle-part {
    clear: both;
    margin: 800px auto 0;
}
#algo .middle-part .part-text, #algo .middle-part h3 {
    text-align: center;
}
#algo .part-time img {
    margin-left: 15px;
}
#algo .middle-part .part-time{
    background: linear-gradient(to right, rgba(0,0,0,0), #c1d9eb, rgba(0,0,0,0));
    text-align: center;
}
#algo .middle-part .part-number {
    text-align: left;
}
/* quality control block */
#qualityControl.wrapper {
    padding: 50px 0;
}
#qualityControl h1 {
    font-size: 48px;
    text-align: center;
    color: #e84042;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#qualityControl h2 {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #00284f;
}